body {
    background-color:grey;
}

.header {
    text-align: center;
    font-weight:bold;
    margin:100px
}
h3.vp {
    text-align:center;
    height:30px;
    width:500px;
    background-color: white;
    color:black;
}
p.blurb1 { 
text-align:center;
height:100px;
    width:500px;
    background-color: white;
    color:black;}
h3.vz {
text-align:center;
    height:30px;
    width:500px;
    background-color: blue;
    color:white;
}
p.blurb2 { 
text-align:center;
height:100px;
    width:500px;
    background-color: blue;
    color:white;}
h3.pg {
text-align:center;
    height:30px;
    width:500px;
    background-color: red;
    color:black;
}
p.blurb3 { 
text-align:center;
height:100px;
    width:500px;
    background-color: red;
    color:black;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 24px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}