body {
margin:3% 5%;
text-align:center;
    background-color: #e5e5e3;
}

p, li{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    font-size: 20px;
}

.header {
    font-weight:bold;
    margin: 0;
    width: 100%;
    font-family:arial, helvetica, sans-serif;
}

h3 {
    margin:0
}

.menu
{
        display:block;
        background-color: rgb(43, 43, 43);
	list-style:none;
	margin: 1%;     
        padding: 0 5%;
}

#primary-nav-wrap li
{
	display:inline;
}

#primary-nav-wrap li:hover
{
	background: #ffffff;
}

#primary-nav-wrap li ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:rgb(43, 43, 43);
	padding:0
}

#primary-nav-wrap a
{
	display:inline;
        color: white;
        padding: 24px 48px;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
}

#primary-nav-wrap ul li:hover > ul
{
	display:block
}

article{
    text-align: left;
}

.header{
        font-size: 35px;
        font-family: 'Source Sans Pro', sans-serif;
        margin: 50px 0px;
}

h1, h2, h3, h4, h5{
    font-family: 'Source Sans Pro', sans-serif;
}

#tag-table, #tag-table tr, #tag-table td,  #tag-table th{
        border: 1px solid black;
        border-collapse: collapse;
}

#tag-table td, #tag-table th{
        font-size: 20px;
}

q{
        quotes: "«" "»";
}

.flag{
        border: 1px solid black;
}

.flag > a {
        padding: 0px;
}
