body {
margin:3%;
text-align:center;
    background-color: #e5e5e3;
}

.header {
    font-weight:bold;
    margin:10%;
    font-family:arial, helvetica, sans-serif;
}

h3 {
    margin:0
}
section.vp {
    background-color: white;
    padding: 5%;
    color:black;
    opacity: 1;
    font-family:arial, helvetica, sans-serif;
}

section.vz {
    background-color: dodgerblue;
    padding: 5%;
    color:white;
    opacity:1;
    font-family:arial, helvetica, sans-serif;
}

section.pg {
    background-color: LightCoral;
    padding: 5%;
    color:black;
    opacity:1;
    font-family:arial, helvetica, sans-serif;
}

ul {
    list-style-type:none;
    margin: 1%;
    padding: 0 10%;
    background-color: #f1f1f1;
}
li {display:inline;
}

li a {
    display:inline-block;
    color: #000;
    padding: 24px 12px;
    text-decoration: none;
}

li a:hover {
    display:inline-block;
    background-color: #555;
    color: white;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:0;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(10,20,30,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f2}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
